.icegram-mailer-items-list table.fixed,
.post-type-es_template table.fixed {
	position: static;
}

#icegram-mailer-container .tablenav.top {
    display: none;
}

#icegram-mailer-container .alignleft.actions.bulkactions {
    display: none;
}

#icegram-mailer-container table.wp-list-table.widefat.fixed.striped.table-view-list.emaillogs {
    border: none;
}

#icegram-mailer-container .alternate, #icegram-mailer-container .striped>tbody>:nth-child(odd), #icegram-mailer-container ul.striped>:nth-child(odd) {
    background: #fff;
}

#icegram-mailer-container .icegram-mailer-email-log-list.icegram-mailer-items-list table thead {
    background-color: #ececec;
}

input.icegram-mailer-input[type="text"],
input.icegram-mailer-input[type="email"] {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0.5px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    -webkit-box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    border: none;
    padding: 5px 10px;
}

.icegram-mailer-form label.text-lg {
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.icegram-mailer-form hr {
    border-bottom: none;
}

.icegram-mailer-form .help-text {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.375;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}